@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(23, 33, 122);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.logo {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 40px;
    padding: 0 40px;
    font-weight: bold;
}

ul {
    display: flex;
    margin-right: 60px;
}

ul li {
    border-radius: 3px;
    margin: 0 5px;
}

ul a li {
    padding: 7px 13px;
    font-size: 18px;
    list-style: none;
    text-transform: uppercase;
    color: white;
}

a {
    text-decoration: none;
}

ul li:hover {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s ease-in-out;
}

ul li:active {
    background-color: rgba(228, 27, 27);
    transition: .1s linear;
}

.mesi2 {
    height: 500px;
    background: linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)), url("../img/familia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: contain;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}
article {
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.cajota {
    margin: 0 10px;
    display: grid;
    gap: 10px;
    /*esta propiedad sirve para establecer un minimo y un maximo (limite) para que sirve que hace??
    grid-template-columns:minmax(150px, 1fr)*/
}
.cajita1 {
    border: 2px solid black;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(16, 16, 99);
    color: white;
    box-shadow: 10px 10px 10px rgba(2, 2, 2, .70);
}
h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
p{
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
p:hover{
    transition: all 500ms ease-out;
    font-size: 23px;
    color: black;
}
.imagenes {
    margin: 60px 0;
    text-align: center;
}
.imagenes figure{
    float: left;
    position: relative;
    margin: 3px 5px;
    width: 220px;
    height: 250px;
    /*sirve para ocultar objetos que esatn afuera del contenedor*/
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(2, 2, 2, .70);
    cursor: pointer;
}
.imagenes figure img{
    width: 220px;
    height: 250px;
    transition: all 500ms ease-out;
}
.imagenes figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(104, 117, 119, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all 500ms ease-out;
}
.imagenes figure:hover > .capa {
    opacity: 2;
    visibility: visible;
}
.imagenes figure:hover > .capa h3 {
    margin-top: 100px;
    margin-bottom: 15px;
}
.imagenes figure:hover > img{
    transform: scale(1.2);
}
.imagenes .capa h3 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    transition: all 500ms ease-out;
}
footer {
    background-color: rgb(0, 0, 0);
}
footer .pie {
    width: 100%;
    max-width: 1200px;
    display: grid;
    /*que se repita 3 columnas y que ocupe todo el ancho*/
    grid-template-columns: repeat(3, 1fr);
    /*margen a la columna*/
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie .nosotros {
    text-align: center;
    padding: 0 20px;
}

.pie .nosotros h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .nosotros p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 20px;
}

.pie .redes h2 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-left: 18px;
    background-color: black;
    text-align: center;
}

.pie .redes a:hover {
    color: aqua;
}

.pie .elaborado {
    text-align: center;
    color: #efefef;
    font-size: 20px;
}

.pie .elaborado h2 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

footer .pagina {
    font-size: 20px;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width:800px) {
    footer .pie {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 0px;
    }
}